<header class="header {% if include.is_dark %}header-dark{% endif %}">
  <div class="container">
    <h1 class="header-logo">
      <a href="/">
        IMPROVIS
      </a>
    </h1>
    <nav class="header-navigation">
      <a href="/" class="header-navigation-element">
        ラジオ
      </a>
      <a href="http://oto-no-sono.com/" class="header-navigation-element">
        音の園
      </a>
      <a href="http://andy-hiroyuki.hatenablog.com/" class="header-navigation-element" target="_blank">
        ブログ
      </a>
    </nav>
  </div>
</header>
